.reporte {
	.hero {
		@include grid-structure($columns: 12);
		grid-area: hero;
		grid-template-areas: 'pago pago pago pago pago pago . . . . . .';
		border-radius: 1em;
		@include section-background($image: 'latinamericancable-reporte.jpg');

		& > div {
			@include grid-structure($columns: 8);
		}

		&__pago {
			height: 28em;
			align-content: center;
			grid-area: pago;
			grid-template-areas: '. box-pago box-pago box-pago box-pago box-pago box-pago .';
			box-sizing: border-box;

			&__box {
				@include hero-box($bg: $azul, $gridarea:'box-pago');				
			}
			&__icon {
				@include hero-box-icon(
					$image: 'latinamerican-pago-icon.svg',
					$fillColor: $verde,
					$width: 4em
				);
				bottom: unset;
			}
			&__info {
				@include hero-box-icon-info();
			}
			&__title {
				grid-area: title;
				color: $verde;
			}
			&__text {
				@include hero-box-icon-info-text($fontsize: 1rem, $color: '#fff', $lineheight: unset)
			}
		}
	}
}
