.tarifas {
  @include grid-structure($columns: 12);
  grid-area: tarifas;
  margin: 1.5em 1em 0;

  &__titulo {
    grid-column: 1 / 13;
    @include heading-before-content($color: $azul, $image: 'punto.svg');
  }

  &__texto {
    grid-column: 1 / 13;
  }

  &__tipo {
    @include grid-structure($columns: 12);
    grid-column: 1 / 13;

    &__item {
      @include item-radius;

      &:nth-child(odd) {
        grid-column: 1 / 7;
        &::before {
          @include section-background-opacity(
            $image: 'latinamericancable-reporte-3tv.jpg'
          );
        }
      }

      &:nth-child(even) {
        grid-column: 7 / 13;
        &:before {
          @include section-background-opacity(
            $image: 'latinamericancable-reporte-4tv.jpg'
          );
        }
      }
    }

    &__titulo {
      @include item-radius-titulo;
    }

    &__texto {
      @include item-radius-texto;
    }
  }
}
