/* Mixins */

//Font configuration
@mixin font-set($color) {
  color: #{$color};
  font-family: 'Sarabun', 'Helvetica', sans-serif;
}

@mixin grid-structure($columns: $columns) {
  display: grid;
  grid-template-columns: repeat(#{$columns}, 2fr);
  grid-template-rows: auto;
}

@mixin section-background($image) {
  background-image: url('../../assets/images/#{$image}');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin section-background-opacity-common() {
  content: '';
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
}

@mixin section-background-opacity($image) {
  @include section-background-opacity-common();
  background-image: url('../../assets/images/#{$image}');
}

@mixin section-background-opacity-a($image) {
  @include section-background-opacity-common();
  background-image: url('../assets/images/#{$image}');
}

@mixin section-background-opacity-modal($image) {
  @include section-background-opacity-common();
  background-image: url('../assets/images/#{$image}');
  opacity: 0.35;
}

@mixin hero-box($bg: $bg, $gridarea: $gridarea) {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: auto;
  height: fit-content;
  grid-area: #{$gridarea};
  grid-template-areas: 'title title title title' 'icon info info info';
  border-radius: 1em;
  min-height: 8em;
  padding: 1em;
  box-sizing: border-box;
  background-color: #{$bg};
  box-shadow: 0.1em 0.1em 0.25em #222;
}

@mixin hero-box-icon($image, $width, $fillColor) {
  grid-area: icon;
  background-image: url('../../assets/images/#{$image}');
  background-color: #{$fillColor};
  background-repeat: no-repeat;
  background-position: center center;
  background-size: #{$width};
  border-radius: 50%;
  left: -2em;
  bottom: -0.5em;
  width: 6em;
  height: 6em;
  position: relative;
}

@mixin hero-box-icon-info() {
  grid-area: info;
  left: -1em;
  position: relative;
}

@mixin flex-center() {
  display: flex;
  justify-content:center;
  align-items: center;
}

@mixin hero-box-icon-info-text(
  $fontsize: $fontsize,
  $color: $color,
  $lineheight: $lineheight
) {
  font-size: #{$fontsize};
  line-height: #{$lineheight};
  color: #{$color};
  grid-area: text;
  margin-bottom: 0.3em;
}

@mixin heading-before-content($image, $color) {
  color: #{$color};
  &::before {
    content: '';
    position: absolute;
    float: left;
    background-image: url('../../assets/images/#{$image}');
    background-repeat: no-repeat;
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
    z-index: -1;
    margin-left: -0.3em;
  }
}

@mixin item-radius {
  margin: 1.5em;
  padding: 1.5em 1.5em 2em;
  position: relative;
  background-color: $verde;
  border-radius: 1em;
  overflow: hidden;
  z-index: 0;
}

@mixin item-radius-titulo {
  font-style: normal;
  color: $azul;
}

@mixin item-radius-texto {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: $azul-2;
}

@mixin boton-a($color: $color, $bg: $bg) {
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  color: #{$color};
  background-color: #{$bg};
  border: 0;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.25em #222;
}

@mixin boton-b($color: $color, $outline: $outline) {
  font-size: 0.9rem;
  font-weight: 800;
  color: #{$color};
  text-decoration: none;
  border-style: solid;
  border-color: #{$outline};
  border-width: 0.15em;
  border-radius: 1em;
  padding: 0.4em;
}

// Responsive
@mixin responsive($size) {
  @media all and (min-width: #{$size}) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}
