.report-view {
  @include grid-structure($columns: 1);

  grid-template-areas:
    "hero"
    "plan-internet"
    "formulario"
    "banner-whastapp";

  .hero {
    grid-area: hero;
    border-radius: 1em;
    @include section-background(
      $image: "latinamericancable-reporte-tab-lan.webp"
    );

    & > div {
      @include grid-structure($columns: 1);
    }

    &__internet {
      height: 28em;
      align-content: center;
      box-sizing: border-box;

      &__box {
        @include hero-box($bg: $azul, $gridarea: "");
        width: 28em;
        margin-left: 5rem;
        min-height: 6em;
      }

      &__icon {
        @include hero-box-icon(
          $image: "latinamerican-pago-icon.svg",
          $fillColor: $verde,
          $width: 4em
        );
        margin-bottom: 1rem;
      }

      &__info {
        @include hero-box-icon-info();
      }

      &__title {
        margin-top: 0.5em;
        grid-area: title;
        color: $verde;
        margin-bottom: 0.4em;
      }

      &__text {
        @include hero-box-icon-info-text(
          $fontsize: 1rem,
          $color: "#fff",
          $lineheight: "1.3"
        );
      }
    }
  }
}

.payment {
  margin-top: 2rem;
  grid-column: span 12;

  &__title {
    @include heading-before-content($color: $azul, $image: "punto.svg");
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }

  .info-box {
    display: flex;
    gap: 1rem;

    &__icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $azul;
      width: 108px;
      height: 108px;
      border-radius: 50%;
      display: flex;
      justify-content: center;

      & img {
        width: 64px;
        height: 64px;
        color: #fff;
      }
    }

    &__title {
      font-style: normal;
      color: $azul;
    }
  }
}

.payment-section {
  //width: 100%;
  margin: 0 auto;
  background-color: $gris-2;
  border-radius: 1em;


  &::before {
    @include section-background-opacity(
      $image: "latinamericancable-internetvista-patron.svg"
    );
    background-size: 12.5%;
    opacity: 0.075;
  }
}

.report {
  margin-top: 6rem;
  margin-bottom: 4rem;
  position: relative;
  grid-column: span 12;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.formreporte {
  background-color: $gris-2;
  border-radius: 1em;

  &::before {
    @include section-background-opacity(
      $image: "latinamericancable-internetvista-patron.svg"
    );
    background-size: 12.5%;
    opacity: 0.075;
  }

  .formulario__titulo,
  .formulario__form__titulo {
    color: $azul;
  }

  .formulario__form__text,
  .formulario__form__label {
    color: $gris;
  }

  .formulario__texto {
    margin-bottom: 2em;
  }

  .formulario__form__label {
    font-weight: 500;
  }

  .datepicker__wrapper,
  input,
  textarea,
  select {
    border: 1px solid #aaa;
  }

  .formulario__form__boton {
    @include boton-a($color: #fff, $bg: $azul);
    padding: 0.6em;
    cursor: pointer;
    &:disabled {
      @include boton-a($color: #fff, $bg: lighten($azul, 30));
      cursor: not-allowed;
    }
  }

  select {
    background-color: white;
  }
}

.input-error {
  border: 1px solid $error !important;
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .formreporte {
    &::before {
      background-size: 35%;
    }
  }

  .report-view {
    .hero {
      &__internet {
        &__box {
          width: 20em;
          margin-left: 2rem;
        }
      }
    }
  }

  .payment {
    padding-left: 1rem;
    padding-right: 1rem;

    &__info {
      flex-direction: column;
      padding-left: 0.6rem;
      padding-right: 0.6rem;
    }

    .info-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &__icon-wrapper {
        width: 80px;
        height: 80px;

        & img {
          width: 44px;
          height: 44px;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
  .formreporte {
    &::before {
      background-size: 20%;
    }
  }
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .report-view {
    .hero {
      &__internet {
        &__box {
          width: 28em;
          margin-left: 5rem;
        }
      }
    }
  }

  .payment {
    &__info {
      flex-direction: row;
    }

    .info-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &__icon-wrapper {
        width: 101px;
        height: 101px;

        & img {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .formreporte {
    &::before {
      background-size: 12.5%;
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .payment {
    &__info {
      flex-direction: row;
    }

    .info-box {
      flex-direction: row;
      gap: 1rem;
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
