.header {
  @include grid-structure($columns: 12);
  grid-area: header;
  align-items: center;
  height: 9.5em;
  grid-template-areas: "logo logo . nav nav nav nav nav nav nav nav nav";

  &__logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
    img {
      width: 11.5em;
    }
  }

  &__nav {
    @include grid-structure($columns: 6);
    grid-area: nav;
    justify-items: center;
    .active--exact {
      border: 2px;
      border-style: solid none solid none;
      border-color: $verde;
      box-sizing: border-box;
      margin-top: -2px;
    }
  }

  &__link {
    width: fit-content;
    height: fit-content;
    font-weight: 800;
    color: $azul;
    border: 2px;
    text-decoration: none;
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .header {
    height: 7.5em;
    grid-template-columns: repeat(6, 2fr);
    grid-template-areas: "logo logo logo logo logo logo" "nav nav nav nav nav nav";

    &__logo {
      img {
        width: 8em;
      }
    }

    &__nav {
      grid-template-columns: repeat(4, 2fr);
      font-size: 0.75rem;
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
  .header {
    height: 5.5em;
    grid-template-areas: "logo logo nav nav nav nav";
  }
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .header {
    height: 7.5em;
    &__logo {
      img {
        width: 9.5em;
      }
    }

    &__nav {
      font-size: 1rem;
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .header {
    height: 9.5em;
    &__logo {
      img {
        width: 11.5em;
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .header {
    grid-template-columns: repeat(12, 2fr);
    grid-template-areas: "logo logo . nav nav nav nav nav nav nav nav nav";

    &__nav {
      grid-template-columns: repeat(6, 2fr);
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
