.principal {
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  grid-template-rows: auto;
  grid-template-areas:
    'hero hero hero hero hero hero hero hero hero hero hero hero'
    'pago pago pago pago pago pago pago pago pago pago pago pago'
    'canales canales canales canales canales canales  plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv'
    'plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet ';
}
