.inicio {
  @include grid-structure($columns: 12);
  grid-template-areas:
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "pago pago pago pago pago pago pago pago pago pago pago pago"
    "canales canales canales canales canales canales  plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
    "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet ";

  .hero {
    @include grid-structure($columns: 12);
    grid-area: hero;
    grid-template-areas: "tv tv tv tv tv tv internet internet internet internet internet internet";

    & > div {
      height: 28em;
      @include grid-structure($columns: 8);
      align-content: flex-end;
    }

    &__tv {
      grid-area: tv;
      grid-template-areas: ". box-tv box-tv box-tv box-tv box-tv box-tv .";
      @include section-background($image: "latinamericancable-tv.jpg");
      border: 3px;
      border-style: none solid none none;
      border-color: white;
      box-sizing: border-box;
      border-radius: 1em 0 0 0;

      &__box {
        @include hero-box($bg: $azul, $gridarea: "box-tv");
        margin-bottom: 2em;
      }
      &__icon {
        @include hero-box-icon(
          $image: "latinamerican-control-icon.svg",
          $fillColor: $verde,
          $width: 5em
        );
      }
      &__info {
        @include hero-box-icon-info();
      }
      &__title {
        grid-area: title;
        color: $verde;
      }
      &__text {
        @include hero-box-icon-info-text(
          $fontsize: 1rem,
          $color: "#fff",
          $lineheight: unset
        );
        line-height: 1.3rem;
      }
    }

    &__internet {
      grid-area: internet;
      grid-template-areas: ". box-internet box-internet box-internet box-internet box-internet box-internet .";
      @include section-background($image: "latinamericancable-internet.jpg");
      border: 3px;
      border-style: none none none solid;
      border-color: white;
      box-sizing: border-box;
      border-radius: 0 1em 0 0;

      &__box {
        @include hero-box($bg: $verde, $gridarea: "box-internet");
        margin-bottom: 2em;
      }
      &__icon {
        @include hero-box-icon(
          $image: "latinamerican-wifi-icon.svg",
          $fillColor: $azul,
          $width: 4em
        );
      }
      &__info {
        @include hero-box-icon-info();
      }
      &__title {
        grid-area: title;
        color: $azul;
      }
      &__text {
        @include hero-box-icon-info-text(
          $fontsize: 1rem,
          $color: $gris,
          $lineheight: unset
        );
        line-height: 1.3rem;
      }
    }
  }

  .pago {
    height: 16em;
    @include grid-structure($columns: 12);
    grid-area: pago;
    grid-template-areas: ". . . . icon icon icon icon . . . ." ". . . . boton boton boton boton . . . .";
    align-content: space-around;
    padding: 1.5em 0 1.5em;
    position: relative;

    &::before {
      content: "";
      @include section-background($image: "latinamericancable-pago.jpg");
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      z-index: -1;
      border-radius: 0 0 1em 1em;
      border: 6px;
      border-style: solid none none none;
      border-color: white;
      box-sizing: border-box;
    }

    &__icon {
      display: grid;
      grid-area: icon;
      justify-content: center;

      &__imagen {
        width: 7em;
      }
    }

    &__boton {
      font-size: 1.2rem;
      grid-area: boton;
      padding: 0.75em;
      @include boton-a($color: #1b4686, $bg: #c2d62e);
    }
  }

  .canales {
    @include grid-structure($columns: 8);
    grid-area: canales;
    margin: 1.5em 1em 1em 0;

    &__titulo {
      grid-column: 1 / 9;
      @include heading-before-content($color: $azul, $image: "punto.svg");
    }
  }

  .tv {
    @include grid-structure($columns: 8);
    grid-area: plan-tv;
    grid-column: 7 / 13;
    &__banner {
      padding: 2.5em 4em 3em;
      display: flex;
      flex-direction: column;
      grid-column: 2 / 9;
      grid-row: 2 / 5;
      border-radius: 1em;
      justify-content: space-around;
      align-content: center;
      @include section-background($image: "latinamericancable-tv-plan.jpg");

      &__titulo {
        text-align: center;
        color: white;
        line-height: 2rem;
      }

      &__texto {
        text-align: center;
        color: white;
        margin-bottom: 1em;
      }

      &__boton {
        margin: 0 auto;
        padding: 0.75em 3em;
        font-size: 1.2rem;
        @include boton-a($color: $azul, $bg: $verde);
      }
    }
  }

  .internet {
    @include grid-structure($columns: 12);
    grid-area: plan-internet;
    margin: 1.5em 1em 3em;

    &__titulo {
      grid-column: 1 / 13;
      @include heading-before-content($color: $azul, $image: "punto.svg");
    }
    &__texto {
      grid-column: 1 / 13;
    }

    &__banner {
      margin: 1.5em 1.5em 1em;
      padding: 2.5em 4em 3em;
      display: flex;
      flex-direction: column;
      grid-column: 1 / 13;
      border-radius: 1em;
      justify-content: space-around;
      align-content: center;
      position: relative;
      &::before {
        content: "";
        @include section-background(
          $image: "latinamericancable-internet-banner.jpg"
        );
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.3;
        z-index: -1;
        border-radius: 1em;
        box-sizing: border-box;
      }

      &__titulo {
        text-align: center;
        color: $azul;
        line-height: 2rem;
      }

      &__texto {
        text-align: center;
        color: $azul;
        margin-bottom: 1em;
      }

      &__boton {
        margin: 0 auto;
        padding: 0.5em 3em;
        font-size: 1.2rem;
        @include boton-a($color: $azul, $bg: $verde);
      }
    }

    &__planes {
      display: grid;
      grid-column: 1 / 13;
      margin-top: 0.5em;

      &__item {
        @include item-radius;

        &:nth-child(odd) {
          grid-column: 1 / 7;
          &::before {
            @include section-background-opacity(
              $image: "latinamericancable-internet-corporativo.jpg"
            );
          }
        }

        &:nth-child(even) {
          grid-column: 7 / 13;
          &:before {
            @include section-background-opacity(
              $image: "latinamericancable-internet-residencial.jpg"
            );
          }
        }
      }

      &__titulo {
        @include item-radius-titulo;
      }

      &__texto {
        @include item-radius-texto;
      }

      &__velocidades {
        display: flex;
        margin: 1.5em 0 2.2em;
      }

      &__boton {
        font-size: 1rem;
        padding: 0.5em;
        margin-right: 1em;
        @include boton-a($color: $verde, $bg: $azul-2);
      }

      &__suscripcion {
        font-size: 1rem;
        padding: 0.4em 1.3em 0.6em;
        @include boton-a($color: white, $bg: $azul);
        cursor: pointer;
      }
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .inicio {
    grid-template-columns: repeat(6, 2fr);
    grid-template-areas:
      "hero hero hero hero hero hero"
      "pago pago pago pago pago pago "
      "canales canales canales canales canales canales"
      "plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
      "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet";

    .hero {
      grid-template-columns: repeat(8, 2fr);
      grid-template-areas:
        "tv tv tv tv tv tv tv tv"
        "internet internet internet internet internet internet internet internet";

      & > div {
        & > div {
          padding: 0.75em 1.2em 0.75em 0.75em;
          min-height: 7em;
        }
      }

      &__tv {
        margin: 0 0 0.4em 0;
        border-radius: 1em 1em 0 0;
        grid-template-areas: ". box-tv box-tv box-tv box-tv box-tv box-tv .";
        border-style: none;
        background-image: url("../../assets/images/latinamericancable-tv-mob-por.jpg");

        &__icon {
          width: 4.5em;
          height: 4.5em;
          background-size: 4em;
        }
        &__text {
          line-height: 1.2rem;
        }
      }

      &__internet {
        border-radius: 0 0 0 0;
        grid-template-areas: ". box-internet box-internet box-internet box-internet box-internet box-internet .";
        border-style: none;
        background-image: url("../../assets/images/latinamericancable-internet-mob-por.jpg");

        &__icon {
          width: 4.5em;
          height: 4.5em;
          background-size: 3em;
        }
        &__text {
          line-height: 1.2rem;
        }
      }
    }

    .pago {
      grid-template-columns: repeat(6, 2fr);
      grid-template-areas: ". icon icon icon icon ." ". boton boton boton boton .";

      &::before {
        background-image: url("../../assets/images/latinamericancable-pago-mob-por.jpg");
      }

      &__boton {
        font-size: 1rem;
      }
    }

    .canales {
      grid-template-columns: repeat(6, 2fr);
    }

    .tv {
      grid-column: 1/9;
      margin: 0 1em;

      &__banner {
        padding: 2em;
        grid-column: 1/9;
        background-image: url("../../assets/images/latinamericancable-tv-plan-mob-por.jpg");

        &__titulo {
          line-height: 1.8rem;
        }

        &__boton {
          font-size: 1rem;
        }
      }
    }

    .internet {
      grid-template-columns: repeat(6, 2fr);

      &__banner {
        margin: 1em 0;
        padding: 2em;
        grid-column: 1/9;
        &::before {
          background-image: url("../../assets/images/latinamericancable-internet-banner-mob-por.jpg");
        }

        &__titulo {
          line-height: 1.8rem;
        }

        &__boton {
          font-size: 1rem;
        }
      }

      &__planes {
        &__item {
          margin: 0.5em 0;
          padding: 1em 1em 2em;
          &:nth-child(odd),
          &:nth-child(even) {
            grid-column: 1/13;
          }
          &:nth-child(odd) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-corporativo-mob-por.jpg");
            }
          }
          &:nth-child(even) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-residencial-mob-por.jpg");
            }
          }
        }

        &__texto {
          font-size: 1rem;
        }

        &__boton {
          font-size: 0.9rem;
          padding: 0.5em;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
  .inicio {
    .hero {
      grid-template-columns: repeat(6, 2fr);
      grid-template-areas: "tv tv tv internet internet internet";

      & > div {
        & > div {
          min-height: 8em;
        }
      }

      &__tv {
        border-radius: 1em 0 0 0;
        margin: 0;
        border-style: none solid none none;
        background-image: url("../../assets/images/latinamericancable-tv-mob-lan.jpg");

        &__text {
          font-size: 0.8rem;
          line-height: 1rem;
        }
      }

      &__internet {
        border-radius: 0 1em 0 0;
        border-style: none none none solid;
        background-image: url("../../assets/images/latinamericancable-internet-mob-lan.jpg");

        &__text {
          font-size: 0.8rem;
          line-height: 1rem;
        }
      }
    }

    .pago {
      &::before {
        background-image: url("../../assets/images/latinamericancable-pago-mob-lan.jpg");
      }
    }

    .tv {
      &__banner {
        background-image: url("../../assets/images/latinamericancable-tv-plan-mob-lan.jpg");
      }
    }

    .internet {
      &__banner {
        &::before {
          background-image: url("../../assets/images/latinamericancable-internet-banner-mob-lan.jpg");
        }
      }

      &__planes {
        &__item {
          &:nth-child(odd) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-corporativo-mob-lan.jpg");
            }
          }
          &:nth-child(even) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-residencial-mob-lan.jpg");
            }
          }
        }
      }
    }
  }
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .inicio {
    grid-template-areas:
      "hero hero hero hero hero hero"
      "pago pago pago pago pago pago "
      "canales canales canales plan-tv plan-tv plan-tv"
      "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet";

    .hero {
      & > div {
        & > div {
          padding: 1em 0;
        }
      }

      &__tv {
        background-image: url("../../assets/images/latinamericancable-tv-tab-por.jpg");
      }

      &__internet {
        background-image: url("../../assets/images/latinamericancable-internet-tab-por.jpg");
      }
    }

    .pago {
      grid-template-columns: repeat(12, 2fr);
      grid-template-areas: ". . . . icon icon icon icon . . . ." ". . . . boton boton boton boton . . . .";

      &::before {
        background-image: url("../../assets/images/latinamericancable-pago-tab-por.jpg");
      }

      &__boton {
        font-size: 1.2rem;
      }
    }

    .canales {
      grid-template-columns: repeat(3, 2fr);
    }

    .tv {
      margin: 0 1.5em 0 0;
      grid-column: 3/7;
      grid-template-columns: repeat(3, 2fr);

      &__banner {
        grid-column: 2/9;
        background-image: url("../../assets/images/latinamericancable-tv-plan-tab-por.jpg");
        &__boton {
          font-size: 1.2rem;
          padding: 0.75em 2em;
        }
      }
    }

    .internet {
      &__banner {
        margin: 1em;
        &::before {
          background-image: url("../../assets/images/latinamericancable-internet-banner-tab-por.jpg");
        }
        &__boton {
          font-size: 1.2rem;
          padding: 0.5em 3em;
        }
      }

      &__planes {
        &__item {
          margin: 1em 1em 0;
          padding: 1em 1em 2em;
          &:nth-child(odd) {
            grid-column: 1/7;
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-corporativo-tab-por.jpg");
            }
          }

          &:nth-child(even) {
            grid-column: 7/13;
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-residencial-tab-por.jpg");
            }
          }
        }
        &__texto {
          font-size: 1.1rem;
        }

        &__boton {
          font-size: 1rem;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .inicio {
    grid-template-columns: repeat(12, 2fr);
    grid-template-areas:
      "hero hero hero hero hero hero hero hero hero hero hero hero"
      "pago pago pago pago pago pago pago pago pago pago pago pago"
      "canales canales canales canales canales canales  plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
      "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet ";

    .hero {
      & > div {
        & > div {
          padding: 1em;
        }
      }

      &__tv {
        background-image: url("../../assets/images/latinamericancable-tv-tab-lan.jpg");

        &__icon {
          width: 6em;
          height: 6em;
          background-size: 5em;
        }
        &__text {
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }

      &__internet {
        background-image: url("../../assets/images/latinamericancable-internet-tab-lan.jpg");

        &__icon {
          width: 6em;
          height: 6em;
          background-size: 4em;
        }
        &__text {
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }
    }

    .pago {
      &::before {
        background-image: url("../../assets/images/latinamericancable-pago-tab-lan.jpg");
      }
    }

    .tv {
      grid-column: 7 / 13;
      grid-template-columns: repeat(8, 2fr);
      &__banner {
        background-image: url("../../assets/images/latinamericancable-tv-plan-tab-lan.jpg");
        &__boton {
          padding: 0.75em 3em;
        }
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .inicio {
    .hero {
      grid-template-columns: repeat(12, 2fr);
      grid-template-areas: "tv tv tv tv tv tv internet internet internet internet internet internet";

      &__tv {
        background-image: url("../../assets/images/latinamericancable-tv.jpg");

        &__text {
          padding-top: 0.25em;
        }
      }

      &__internet {
        background-image: url("../../assets/images/latinamericancable-internet.jpg");

        &__text {
          padding-top: 0.25em;
        }
      }
    }

    .pago {
      &::before {
        background-image: url("../../assets/images/latinamericancable-pago.jpg");
      }
    }

    .tv {
      margin: 0;
      &__banner {
        background-image: url("../../assets/images/latinamericancable-tv-plan.jpg");
        padding: 2.5em 4em 3em;
      }
    }

    /*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
    @include responsive(20em) {
      .inicio {
        grid-template-columns: repeat(6, 2fr);
        grid-template-areas:
          "hero hero hero hero hero hero"
          "pago pago pago pago pago pago "
          "canales canales canales canales canales canales"
          "plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
          "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet";

        .hero {
          grid-template-columns: repeat(8, 2fr);
          grid-template-areas:
            "tv tv tv tv tv tv tv tv"
            "internet internet internet internet internet internet internet internet";

          & > div {
            & > div {
              padding: 0.75em 1.2em 0.75em 0.75em;
              min-height: 7em;
            }
          }

          &__tv {
            margin: 0 0 0.4em 0;
            border-radius: 1em 1em 0 0;
            grid-template-areas: ". box-tv box-tv box-tv box-tv box-tv box-tv .";
            border-style: none;
            background-image: url("../../assets/images/latinamericancable-tv-mob-por.jpg");

            &__icon {
              width: 4.5em;
              height: 4.5em;
              background-size: 4em;
            }
            &__text {
              line-height: 1.2rem;
            }
          }

          &__internet {
            border-radius: 0 0 0 0;
            grid-template-areas: ". box-internet box-internet box-internet box-internet box-internet box-internet .";
            border-style: none;
            background-image: url("../../assets/images/latinamericancable-internet-mob-por.jpg");

            &__icon {
              width: 4.5em;
              height: 4.5em;
              background-size: 3em;
            }
            &__text {
              line-height: 1.2rem;
            }
          }
        }

        .pago {
          grid-template-columns: repeat(6, 2fr);
          grid-template-areas: ". icon icon icon icon ." ". boton boton boton boton .";

          &::before {
            background-image: url("../../assets/images/latinamericancable-pago-mob-por.jpg");
          }

          &__boton {
            font-size: 1rem;
          }
        }

        .canales {
          grid-template-columns: repeat(6, 2fr);
        }

        .tv {
          grid-column: 1/9;
          margin: 0 1em;

          &__banner {
            padding: 2em;
            grid-column: 1/9;
            background-image: url("../../assets/images/latinamericancable-tv-plan-mob-por.jpg");

            &__titulo {
              line-height: 1.8rem;
            }

            &__boton {
              font-size: 1rem;
            }
          }
        }

        .internet {
          grid-template-columns: repeat(6, 2fr);

          &__banner {
            margin: 1em 0;
            padding: 2em;
            grid-column: 1/9;
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-banner-mob-por.jpg");
            }

            &__titulo {
              line-height: 1.8rem;
            }

            &__boton {
              font-size: 1rem;
            }
          }

          &__planes {
            &__item {
              margin: 0.5em 0;
              padding: 1em 1em 2em;
              &:nth-child(odd),
              &:nth-child(even) {
                grid-column: 1/13;
              }
              &:nth-child(odd) {
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-corporativo-mob-por.jpg");
                }
              }
              &:nth-child(even) {
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-residencial-mob-por.jpg");
                }
              }
            }

            &__texto {
              font-size: 1rem;
            }

            &__boton {
              font-size: 0.9rem;
              padding: 0.5em;
            }
          }
        }
      }
    }

    /*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
    @include responsive(35.5em) {
      .inicio {
        .hero {
          grid-template-columns: repeat(6, 2fr);
          grid-template-areas: "tv tv tv internet internet internet";

          & > div {
            & > div {
              min-height: 8em;
            }
          }

          &__tv {
            border-radius: 1em 0 0 0;
            margin: 0;
            border-style: none solid none none;
            background-image: url("../../assets/images/latinamericancable-tv-mob-lan.jpg");

            &__text {
              font-size: 0.8rem;
              line-height: 1rem;
            }
          }

          &__internet {
            border-radius: 0 1em 0 0;
            border-style: none none none solid;
            background-image: url("../../assets/images/latinamericancable-internet-mob-lan.jpg");

            &__text {
              font-size: 0.8rem;
              line-height: 1rem;
            }
          }
        }

        .pago {
          &::before {
            background-image: url("../../assets/images/latinamericancable-pago-mob-lan.jpg");
          }
        }

        .tv {
          &__banner {
            background-image: url("../../assets/images/latinamericancable-tv-plan-mob-lan.jpg");
          }
        }

        .internet {
          &__banner {
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-banner-mob-lan.jpg");
            }
          }

          &__planes {
            &__item {
              &:nth-child(odd) {
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-corporativo-mob-lan.jpg");
                }
              }
              &:nth-child(even) {
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-residencial-mob-lan.jpg");
                }
              }
            }
          }
        }
      }
    }

    /*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
    @include responsive(48em) {
      .inicio {
        grid-template-areas:
          "hero hero hero hero hero hero"
          "pago pago pago pago pago pago "
          "canales canales canales plan-tv plan-tv plan-tv"
          "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet";

        .hero {
          & > div {
            & > div {
              padding: 1em 0;
            }
          }

          &__tv {
            background-image: url("../../assets/images/latinamericancable-tv-tab-por.jpg");
          }

          &__internet {
            background-image: url("../../assets/images/latinamericancable-internet-tab-por.jpg");
          }
        }

        .pago {
          grid-template-columns: repeat(12, 2fr);
          grid-template-areas: ". . . . icon icon icon icon . . . ." ". . . . boton boton boton boton . . . .";

          &::before {
            background-image: url("../../assets/images/latinamericancable-pago-tab-por.jpg");
          }

          &__boton {
            font-size: 1.2rem;
          }
        }

        .canales {
          grid-template-columns: repeat(3, 2fr);
        }

        .tv {
          margin: 0 1.5em 0 0;
          grid-column: 3/7;
          grid-template-columns: repeat(3, 2fr);

          &__banner {
            grid-column: 2/9;
            background-image: url("../../assets/images/latinamericancable-tv-plan-tab-por.jpg");
            &__boton {
              font-size: 1.2rem;
              padding: 0.75em 2em;
            }
          }
        }

        .internet {
          &__banner {
            margin: 1em;
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-banner-tab-por.jpg");
            }
            &__boton {
              font-size: 1.2rem;
              padding: 0.5em 3em;
            }
          }

          &__planes {
            &__item {
              margin: 1em 1em 0;
              padding: 1em 1em 2em;
              &:nth-child(odd) {
                grid-column: 1/7;
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-corporativo-tab-por.jpg");
                }
              }

              &:nth-child(even) {
                grid-column: 7/13;
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-residencial-tab-por.jpg");
                }
              }
            }
            &__texto {
              font-size: 1.1rem;
            }

            &__boton {
              font-size: 1rem;
            }
          }
        }
      }
    }

    /*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
    @include responsive(64em) {
      .inicio {
        grid-template-columns: repeat(12, 2fr);
        grid-template-areas:
          "hero hero hero hero hero hero hero hero hero hero hero hero"
          "pago pago pago pago pago pago pago pago pago pago pago pago"
          "canales canales canales canales canales canales  plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
          "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet ";

        .hero {
          & > div {
            & > div {
              padding: 1em;
            }
          }

          &__tv {
            background-image: url("../../assets/images/latinamericancable-tv-tab-lan.jpg");

            &__icon {
              width: 6em;
              height: 6em;
              background-size: 5em;
            }
            &__text {
              font-size: 1rem;
              line-height: 1.3rem;
            }
          }

          &__internet {
            background-image: url("../../assets/images/latinamericancable-internet-tab-lan.jpg");

            &__icon {
              width: 6em;
              height: 6em;
              background-size: 4em;
            }
            &__text {
              font-size: 1rem;
              line-height: 1.3rem;
            }
          }
        }

        .pago {
          &::before {
            background-image: url("../../assets/images/latinamericancable-pago-tab-lan.jpg");
          }
        }

        .canales {
          grid-template-columns: repeat(8, 2fr);
          padding-right: 0;
        }

        .tv {
          grid-column: 7 / 13;
          grid-template-columns: repeat(8, 2fr);
          &__banner {
            background-image: url("../../assets/images/latinamericancable-tv-plan-tab-lan.jpg");
            &__boton {
              padding: 0.75em 3em;
            }
          }
        }

        .inicio {
          @include grid-structure($columns: 12);
          grid-template-areas:
            "hero hero hero hero hero hero hero hero hero hero hero hero"
            "pago pago pago pago pago pago pago pago pago pago pago pago"
            "canales canales canales canales canales canales  plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
            "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet ";

          .hero {
            @include grid-structure($columns: 12);
            grid-area: hero;
            grid-template-areas: "tv tv tv tv tv tv internet internet internet internet internet internet";

            & > div {
              height: 28em;
              @include grid-structure($columns: 8);
              align-content: flex-end;
            }

            &__tv {
              grid-area: tv;
              grid-template-areas: ". box-tv box-tv box-tv box-tv box-tv box-tv .";
              @include section-background($image: "latinamericancable-tv.jpg");
              border: 3px;
              border-style: none solid none none;
              border-color: white;
              box-sizing: border-box;
              border-radius: 1em 0 0 0;

              &__box {
                @include hero-box($bg: $azul, $gridarea: "box-tv");
                margin-bottom: 2em;
              }
              &__icon {
                @include hero-box-icon(
                  $image: "latinamerican-control-icon.svg",
                  $fillColor: $verde,
                  $width: 5em
                );
              }
              &__info {
                @include hero-box-icon-info();
              }
              &__title {
                grid-area: title;
                color: $verde;
              }
              &__text {
                @include hero-box-icon-info-text(
                  $fontsize: 1rem,
                  $color: "#fff",
                  $lineheight: unset
                );
                line-height: 1.3rem;
              }
            }

            &__internet {
              grid-area: internet;
              grid-template-areas: ". box-internet box-internet box-internet box-internet box-internet box-internet .";
              @include section-background(
                $image: "latinamericancable-internet.jpg"
              );
              border: 3px;
              border-style: none none none solid;
              border-color: white;
              box-sizing: border-box;
              border-radius: 0 1em 0 0;

              &__box {
                @include hero-box($bg: $verde, $gridarea: "box-internet");
                margin-bottom: 2em;
              }
              &__icon {
                @include hero-box-icon(
                  $image: "latinamerican-wifi-icon.svg",
                  $fillColor: $azul,
                  $width: 4em
                );
              }
              &__info {
                @include hero-box-icon-info();
              }
              &__title {
                grid-area: title;
                color: $azul;
              }
              &__text {
                @include hero-box-icon-info-text(
                  $fontsize: 1rem,
                  $color: $gris,
                  $lineheight: unset
                );
                line-height: 1.3rem;
              }
            }
          }

          .pago {
            height: 16em;
            @include grid-structure($columns: 12);
            grid-area: pago;
            grid-template-areas: ". . . . icon icon icon icon . . . ." ". . . . boton boton boton boton . . . .";
            align-content: space-around;
            padding: 1.5em 0 1.5em;
            position: relative;

            &::before {
              content: "";
              @include section-background(
                $image: "latinamericancable-pago.jpg"
              );
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              opacity: 0.5;
              z-index: -1;
              border-radius: 0 0 1em 1em;
              border: 6px;
              border-style: solid none none none;
              border-color: white;
              box-sizing: border-box;
            }

            &__icon {
              display: grid;
              grid-area: icon;
              justify-content: center;

              &__imagen {
                width: 7em;
              }
            }

            &__boton {
              font-size: 1.2rem;
              grid-area: boton;
              padding: 0.75em;
              @include boton-a($color: #1b4686, $bg: #c2d62e);
            }
          }

          .canales {
            @include grid-structure($columns: 8);
            grid-area: canales;
            margin: 1.5em 1em 1em 0;

            &__titulo {
              grid-column: 1 / 9;
              @include heading-before-content(
                $color: $azul,
                $image: "punto.svg"
              );
            }
          }

          .tv {
            @include grid-structure($columns: 8);
            grid-area: plan-tv;
            grid-column: 7 / 13;
            &__banner {
              padding: 2.5em 4em 3em;
              display: flex;
              flex-direction: column;
              grid-column: 2 / 9;
              grid-row: 2 / 5;
              border-radius: 1em;
              justify-content: space-around;
              align-content: center;
              @include section-background(
                $image: "latinamericancable-tv-plan.jpg"
              );

              &__titulo {
                text-align: center;
                color: white;
                line-height: 2rem;
              }

              &__texto {
                text-align: center;
                color: white;
                margin-bottom: 1em;
              }

              &__boton {
                margin: 0 auto;
                padding: 0.75em 3em;
                font-size: 1.2rem;
                @include boton-a($color: $azul, $bg: $verde);
              }
            }
          }

          .internet {
            @include grid-structure($columns: 12);
            grid-area: plan-internet;
            margin: 1.5em 1em 3em;

            &__titulo {
              grid-column: 1 / 13;
              @include heading-before-content(
                $color: $azul,
                $image: "punto.svg"
              );
            }
            &__texto {
              grid-column: 1 / 13;
            }

            &__banner {
              margin: 1.5em 1.5em 1em;
              padding: 2.5em 4em 3em;
              display: flex;
              flex-direction: column;
              grid-column: 1 / 13;
              border-radius: 1em;
              justify-content: space-around;
              align-content: center;
              position: relative;
              &::before {
                content: "";
                @include section-background(
                  $image: "latinamericancable-internet-banner.jpg"
                );
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0.3;
                z-index: -1;
                border-radius: 1em;
                box-sizing: border-box;
              }

              &__titulo {
                text-align: center;
                color: $azul;
                line-height: 2rem;
              }

              &__texto {
                text-align: center;
                color: $azul;
                margin-bottom: 1em;
              }

              &__boton {
                margin: 0 auto;
                padding: 0.5em 3em;
                font-size: 1.2rem;
                @include boton-a($color: $azul, $bg: $verde);
              }
            }

            &__planes {
              display: grid;
              grid-column: 1 / 13;
              margin-top: 0.5em;

              &__item {
                @include item-radius;

                &:nth-child(odd) {
                  grid-column: 1 / 7;
                  &::before {
                    @include section-background-opacity(
                      $image: "latinamericancable-internet-corporativo.jpg"
                    );
                  }
                }

                &:nth-child(even) {
                  grid-column: 7 / 13;
                  &:before {
                    @include section-background-opacity(
                      $image: "latinamericancable-internet-residencial.jpg"
                    );
                  }
                }
              }

              &__titulo {
                @include item-radius-titulo;
              }

              &__texto {
                @include item-radius-texto;
              }

              &__velocidades {
                display: flex;
                margin: 1.5em 0 2.2em;
              }

              &__boton {
                font-size: 1rem;
                padding: 0.5em;
                margin-right: 1em;
                @include boton-a($color: $verde, $bg: $azul-2);
              }

              &__suscripcion {
                font-size: 1rem;
                padding: 0.4em 1.3em 0.6em;
                @include boton-a($color: white, $bg: $azul);
                cursor: pointer;
              }
            }
          }
        }

        /*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
        @include responsive(20em) {
          .inicio {
            grid-template-columns: repeat(6, 2fr);
            grid-template-areas:
              "hero hero hero hero hero hero"
              "pago pago pago pago pago pago "
              "canales canales canales canales canales canales"
              "plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
              "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet";

            .hero {
              grid-template-columns: repeat(8, 2fr);
              grid-template-areas:
                "tv tv tv tv tv tv tv tv"
                "internet internet internet internet internet internet internet internet";

              & > div {
                & > div {
                  padding: 0.75em 1.2em 0.75em 0.75em;
                  min-height: 7em;
                }
              }

              &__tv {
                margin: 0 0 0.4em 0;
                border-radius: 1em 1em 0 0;
                grid-template-areas: ". box-tv box-tv box-tv box-tv box-tv box-tv .";
                border-style: none;
                background-image: url("../../assets/images/latinamericancable-tv-mob-por.jpg");

                &__icon {
                  width: 4.5em;
                  height: 4.5em;
                  background-size: 4em;
                }
                &__text {
                  line-height: 1.2rem;
                }
              }

              &__internet {
                border-radius: 0 0 0 0;
                grid-template-areas: ". box-internet box-internet box-internet box-internet box-internet box-internet .";
                border-style: none;
                background-image: url("../../assets/images/latinamericancable-internet-mob-por.jpg");

                &__icon {
                  width: 4.5em;
                  height: 4.5em;
                  background-size: 3em;
                }
                &__text {
                  line-height: 1.2rem;
                }
              }
            }

            .pago {
              grid-template-columns: repeat(6, 2fr);
              grid-template-areas: ". icon icon icon icon ." ". boton boton boton boton .";

              &::before {
                background-image: url("../../assets/images/latinamericancable-pago-mob-por.jpg");
              }

              &__boton {
                font-size: 1rem;
              }
            }

            .canales {
              grid-template-columns: repeat(6, 2fr);
            }

            .tv {
              grid-column: 1/9;
              margin: 0 1em;

              &__banner {
                padding: 2em;
                grid-column: 1/9;
                background-image: url("../../assets/images/latinamericancable-tv-plan-mob-por.jpg");

                &__titulo {
                  line-height: 1.8rem;
                }

                &__boton {
                  font-size: 1rem;
                }
              }
            }

            .internet {
              grid-template-columns: repeat(6, 2fr);

              &__banner {
                margin: 1em 0;
                padding: 2em;
                grid-column: 1/9;
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-banner-mob-por.jpg");
                }

                &__titulo {
                  line-height: 1.8rem;
                }

                &__boton {
                  font-size: 1rem;
                }
              }

              &__planes {
                &__item {
                  margin: 0.5em 0;
                  padding: 1em 1em 2em;
                  &:nth-child(odd),
                  &:nth-child(even) {
                    grid-column: 1/13;
                  }
                  &:nth-child(odd) {
                    &::before {
                      background-image: url("../../assets/images/latinamericancable-internet-corporativo-mob-por.jpg");
                    }
                  }
                  &:nth-child(even) {
                    &::before {
                      background-image: url("../../assets/images/latinamericancable-internet-residencial-mob-por.jpg");
                    }
                  }
                }

                &__texto {
                  font-size: 1rem;
                }

                &__boton {
                  font-size: 0.9rem;
                  padding: 0.5em;
                }
              }
            }
          }
        }

        /*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
        @include responsive(35.5em) {
          .inicio {
            .hero {
              grid-template-columns: repeat(6, 2fr);
              grid-template-areas: "tv tv tv internet internet internet";

              & > div {
                & > div {
                  min-height: 8em;
                }
              }

              &__tv {
                border-radius: 1em 0 0 0;
                margin: 0;
                border-style: none solid none none;
                background-image: url("../../assets/images/latinamericancable-tv-mob-lan.jpg");

                &__text {
                  font-size: 0.8rem;
                  line-height: 1rem;
                }
              }

              &__internet {
                border-radius: 0 1em 0 0;
                border-style: none none none solid;
                background-image: url("../../assets/images/latinamericancable-internet-mob-lan.jpg");

                &__text {
                  font-size: 0.8rem;
                  line-height: 1rem;
                }
              }
            }

            .pago {
              &::before {
                background-image: url("../../assets/images/latinamericancable-pago-mob-lan.jpg");
              }
            }

            .tv {
              &__banner {
                background-image: url("../../assets/images/latinamericancable-tv-plan-mob-lan.jpg");
              }
            }

            .internet {
              &__banner {
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-banner-mob-lan.jpg");
                }
              }

              &__planes {
                &__item {
                  &:nth-child(odd) {
                    &::before {
                      background-image: url("../../assets/images/latinamericancable-internet-corporativo-mob-lan.jpg");
                    }
                  }
                  &:nth-child(even) {
                    &::before {
                      background-image: url("../../assets/images/latinamericancable-internet-residencial-mob-lan.jpg");
                    }
                  }
                }
              }
            }
          }
        }

        /*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
        @include responsive(48em) {
          .inicio {
            grid-template-areas:
              "hero hero hero hero hero hero"
              "pago pago pago pago pago pago "
              "canales canales canales plan-tv plan-tv plan-tv"
              "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet";

            .hero {
              & > div {
                & > div {
                  padding: 1em 0;
                }
              }

              &__tv {
                background-image: url("../../assets/images/latinamericancable-tv-tab-por.jpg");
              }

              &__internet {
                background-image: url("../../assets/images/latinamericancable-internet-tab-por.jpg");
              }
            }

            .pago {
              grid-template-columns: repeat(12, 2fr);
              grid-template-areas: ". . . . icon icon icon icon . . . ." ". . . . boton boton boton boton . . . .";

              &::before {
                background-image: url("../../assets/images/latinamericancable-pago-tab-por.jpg");
              }

              &__boton {
                font-size: 1.2rem;
              }
            }

            .canales {
              grid-template-columns: repeat(3, 2fr);
            }

            .tv {
              margin: 0 1.5em 0 0;
              grid-column: 3/7;
              grid-template-columns: repeat(3, 2fr);

              &__banner {
                grid-column: 2/9;
                background-image: url("../../assets/images/latinamericancable-tv-plan-tab-por.jpg");
                &__boton {
                  font-size: 1.2rem;
                  padding: 0.75em 2em;
                }
              }
            }

            .internet {
              &__banner {
                margin: 1em;
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-banner-tab-por.jpg");
                }
                &__boton {
                  font-size: 1.2rem;
                  padding: 0.5em 3em;
                }
              }

              &__planes {
                &__item {
                  margin: 1em 1em 0;
                  padding: 1em 1em 2em;
                  &:nth-child(odd) {
                    grid-column: 1/7;
                    &::before {
                      background-image: url("../../assets/images/latinamericancable-internet-corporativo-tab-por.jpg");
                    }
                  }

                  &:nth-child(even) {
                    grid-column: 7/13;
                    &::before {
                      background-image: url("../../assets/images/latinamericancable-internet-residencial-tab-por.jpg");
                    }
                  }
                }
                &__texto {
                  font-size: 1.1rem;
                }

                &__boton {
                  font-size: 1rem;
                }
              }
            }
          }
        }

        /*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
        @include responsive(64em) {
          .inicio {
            grid-template-columns: repeat(12, 2fr);
            grid-template-areas:
              "hero hero hero hero hero hero hero hero hero hero hero hero"
              "pago pago pago pago pago pago pago pago pago pago pago pago"
              "canales canales canales canales canales canales  plan-tv plan-tv plan-tv plan-tv plan-tv plan-tv"
              "plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet plan-internet ";

            .hero {
              & > div {
                & > div {
                  padding: 1em;
                }
              }

              &__tv {
                background-image: url("../../assets/images/latinamericancable-tv-tab-lan.jpg");

                &__icon {
                  width: 6em;
                  height: 6em;
                  background-size: 5em;
                }
                &__text {
                  font-size: 1rem;
                  line-height: 1.3rem;
                }
              }

              &__internet {
                background-image: url("../../assets/images/latinamericancable-internet-tab-lan.jpg");

                &__icon {
                  width: 6em;
                  height: 6em;
                  background-size: 4em;
                }
                &__text {
                  font-size: 1rem;
                  line-height: 1.3rem;
                }
              }
            }

            .pago {
              &::before {
                background-image: url("../../assets/images/latinamericancable-pago-tab-lan.jpg");
              }
            }

            .canales {
              grid-template-columns: repeat(8, 2fr);
              padding-right: 0;
            }

            .tv {
              grid-column: 7 / 13;
              grid-template-columns: repeat(8, 2fr);
              &__banner {
                background-image: url("../../assets/images/latinamericancable-tv-plan-tab-lan.jpg");
                &__boton {
                  padding: 0.75em 3em;
                }
              }
            }
          }
        }

        /*------------------------------------- Small Desktop (1280px) ----------------------------------*/
        @include responsive(80em) {
          .inicio {
            .hero {
              grid-template-columns: repeat(12, 2fr);
              grid-template-areas: "tv tv tv tv tv tv internet internet internet internet internet internet";

              &__tv {
                background-image: url("../../assets/images/latinamericancable-tv.jpg");

                &__text {
                  padding-top: 0.25em;
                }
              }

              &__internet {
                background-image: url("../../assets/images/latinamericancable-internet.jpg");

                &__text {
                  padding-top: 0.25em;
                }
              }
            }

            .pago {
              &::before {
                background-image: url("../../assets/images/latinamericancable-pago.jpg");
              }
            }

            .tv {
              margin: 0;
              &__banner {
                background-image: url("../../assets/images/latinamericancable-tv-plan.jpg");
                padding: 2.5em 4em 3em;
              }
            }
          }
        }

        /*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
        @include responsive(90em) {
        }

        /*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
        @include responsive(100em) {
        }

        /*------------------------------------- Large Desktop (1920px) ---------------------------------*/
        @include responsive(120em) {
        }
      }
    }

    /*------------------------------------- Small Desktop (1280px) ----------------------------------*/
    @include responsive(80em) {
      .inicio {
        .hero {
          grid-template-columns: repeat(12, 2fr);
          grid-template-areas: "tv tv tv tv tv tv internet internet internet internet internet internet";

          &__tv {
            background-image: url("../../assets/images/latinamericancable-tv.jpg");

            &__text {
              padding-top: 0.25em;
            }
          }

          &__internet {
            background-image: url("../../assets/images/latinamericancable-internet.jpg");

            &__text {
              padding-top: 0.25em;
            }
          }
        }

        .pago {
          &::before {
            background-image: url("../../assets/images/latinamericancable-pago.jpg");
          }
        }

        .tv {
          margin: 0;
          &__banner {
            background-image: url("../../assets/images/latinamericancable-tv-plan.jpg");
            padding: 2.5em 4em 3em;
          }
        }

        .internet {
          &__banner {
            &::before {
              background-image: url("../../assets/images/latinamericancable-internet-banner.jpg");
            }
          }

          &__planes {
            &__item {
              &:nth-child(odd) {
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-corporativo.jpg");
                }
              }

              &:nth-child(even) {
                &::before {
                  background-image: url("../../assets/images/latinamericancable-internet-residencial.jpg");
                }
              }
            }

            &__boton {
              padding: 0.5em;
            }
          }
        }
      }
    }

    /*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
    @include responsive(90em) {
    }

    /*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
    @include responsive(100em) {
    }

    /*------------------------------------- Large Desktop (1920px) ---------------------------------*/
    @include responsive(120em) {
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
