.reporte {
  @include grid-structure($columns: 12);
  grid-template-areas:
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "tarifas tarifas tarifas tarifas tarifas tarifas tarifas tarifas tarifas tarifas tarifas tarifas"
    "info-a info-a info-a info-a info-a info-a info-a info-a info-a info-a info-a info-a"
    "formulario formulario formulario formulario formulario formulario formulario formulario formulario formulario formulario formulario";

  .hero {
    @include grid-structure($columns: 12);
    grid-area: hero;
    grid-template-areas: "pago pago pago pago pago pago . . . . . .";
    border-radius: 1em;
    @include section-background($image: "latinamericancable-reporte.webp");

    & > div {
      @include grid-structure($columns: 8);
    }

    &__pago {
      height: 28em;
      align-content: center;
      grid-area: pago;
      grid-template-areas: ". box-pago box-pago box-pago box-pago box-pago box-pago .";
      box-sizing: border-box;

      &__box {
        @include hero-box($bg: $azul, $gridarea: "box-pago");
      }
      &__icon {
        @include hero-box-icon(
          $image: "latinamerican-pago-icon.svg",
          $fillColor: $verde,
          $width: 4em
        );
        bottom: unset;
      }
      &__info {
        @include hero-box-icon-info();
      }
      &__title {
        grid-area: title;
        color: $verde;
      }
      &__text {
        @include hero-box-icon-info-text(
          $fontsize: 1rem,
          $color: "#fff",
          $lineheight: unset
        );
      }
    }
  }

  .tarifas {
    @include grid-structure($columns: 12);
    grid-area: tarifas;
    margin: 1.5em 1em 0;

    &__titulo {
      grid-column: 1 / 13;
      @include heading-before-content($color: $azul, $image: "punto.svg");
    }

    &__texto {
      grid-column: 1 / 13;
    }

    &__tipo {
      @include grid-structure($columns: 12);
      grid-column: 1 / 13;
      margin-top: 0.5em;

      &__item {
        @include item-radius;

        &:nth-child(odd) {
          grid-column: 1 / 7;
          &::before {
            @include section-background-opacity(
              $image: "latinamericancable-reporte-3tv.webp"
            );
          }
        }

        &:nth-child(even) {
          grid-column: 7 / 13;
          &:before {
            @include section-background-opacity(
              $image: "latinamericancable-reporte-4tv.webp"
            );
          }
        }
      }

      &__titulo {
        @include item-radius-titulo;
      }

      &__texto {
        @include item-radius-texto;
      }
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .reporte {
    .hero {
      grid-template-columns: repeat(8, 2fr);
      grid-template-areas: "pago pago pago pago pago pago pago pago";
      background-image: url("../../assets/images/latinamericancable-reporte-mob-por.webp");

      &__pago {
        align-content: end;
        margin-bottom: 2em;

        &__box {
          padding: 0.75em 1.2em 0.75em 0.75em;
          min-height: 7em;
        }
        &__icon {
          width: 4.5em;
          height: 4.5em;
          background-size: 3em;
        }

        &__text {
          line-height: 1.2em;
        }
      }
    }

    .tarifas {
      grid-template-columns: repeat(6, 2fr);
      padding: 0 1em;

      &__tipo {
        &__item {
          margin: 0.5em 0;
          padding: 1em 1em 2em;
          &:nth-child(odd),
          &:nth-child(even) {
            grid-column: 1/13;
          }

          &:nth-child(odd) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-reporte-3tv-mob-por.webp");
            }
          }

          &:nth-child(even) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-reporte-4tv-mob-por.webp");
            }
          }
        }
        &__texto {
          font-size: 1rem;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
  .reporte {
    .hero {
      grid-template-columns: repeat(6, 2fr);
      grid-template-areas: "pago pago pago pago . .";
      background-image: url("../../assets/images/latinamericancable-reporte-mob-lan.webp");

      &__pago {
        align-content: center;
        margin-bottom: 0;
        &__text {
          font-size: 0.8rem;
          line-height: 1rem;
        }
      }
    }

    .tarifas {
      &__tipo {
        &__item {
          margin: 0 1.5em;

          &:nth-child(odd) {
            grid-column: 1 / 7;
            &::before {
              background-image: url("../../assets/images/latinamericancable-reporte-3tv-mob-lan.webp");
            }
          }

          &:nth-child(even) {
            grid-column: 7 / 13;
            &::before {
              background-image: url("../../assets/images/latinamericancable-reporte-4tv-mob-lan.webp");
            }
          }
        }
      }
    }
  }
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .reporte {
    .hero {
      grid-template-areas: "pago pago pago . . .";
      background-image: url("../../assets/images/latinamericancable-reporte-tab-por.webp");

      &__pago {
        &__box {
          padding: 1em 0 1em 0.75em;
        }
      }
    }

    .tarifas {
      padding: 0;

      &__tipo {
        &__item {
          margin: 1em 1em 0;
          padding: 1em 1em 2em;

          &:nth-child(odd) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-reporte-3tv-tab-por.webp");
            }
          }

          &:nth-child(even) {
            &:before {
              background-image: url("../../assets/images/latinamericancable-reporte-4tv-tab-por.webp");
            }
          }
        }

        &__texto {
          font-size: 1.1rem;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .reporte {
    .hero {
      background-image: url("../../assets/images/latinamericancable-reporte-tab-lan.webp");

      &__pago {
        &__box {
          padding: 1em;
        }
        &__icon {
          width: 6em;
          height: 6em;
          background-size: 4em;
        }
        &__text {
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }
    }

    .tarifas {
      grid-template-columns: repeat(12, 2fr);

      &__tipo {
        &__item {
          margin: 1.5em;
          padding: 1.5em 1.5em 2em;

          &:nth-child(odd) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-reporte-3tv-tab-lan.webp");
            }
          }

          &:nth-child(even) {
            &:before {
              background-image: url("../../assets/images/latinamericancable-reporte-4tv-tab-lan.webp");
            }
          }
        }
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .reporte {
    .hero {
      grid-template-columns: repeat(12, 2fr);
      grid-template-areas: "pago pago pago pago pago pago . . . . . .";
      background-image: url("../../assets/images/latinamericancable-reporte.webp");

      &__pago {
        &__text {
          padding-top: 0.25em;
        }
      }
    }

    .tarifas {
      &__tipo {
        &__item {
          &:nth-child(odd) {
            &::before {
              background-image: url("../../assets/images/latinamericancable-reporte-3tv.webp");
            }
          }

          &:nth-child(even) {
            &:before {
              background-image: url("../../assets/images/latinamericancable-reporte-4tv.webp");
            }
          }
        }
      }
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
