.forminternet {
  background-color: $azul-2;
  border-top: 6px solid #fff;
  border-radius: 0 0 1em 1em;

  &::before {
    @include section-background-opacity(
      $image: 'latinamericancable-internetvista-patron.svg'
    );
    background-size: 12.5%;
    opacity: 0.35;
  }

  .formulario__titulo {
    color: $verde;
  }

  .formulario__form__boton {
    @include boton-a($color: $azul, $bg: $verde);
  }
}
