.internetvista {
  .formulario {
    display: grid;
    grid-area: formulario;
    grid-template-columns: repeat(12, 2fr);
    grid-template-rows: auto;
    padding: 5em 0 5em 2em;
    background-color: $azul-2;
    border-top: 6px solid #fff;
    border-radius: 0 0 1em 1em;
    position: relative;
    z-index: 0;

    &::before {
      @include section-background-opacity(
        $image: 'latinamericancable-internetvista-patron.svg'
      );
      background-size: 12.5%;
      opacity: 0.35;
    }

    &__titulo {
      grid-column: 1 / 13;
      color: $verde;
      margin-top: 0;
    }

    &__form {
      display: grid;
      grid-column: 1/13;
      grid-template-columns: repeat(4, 2fr);
      &__grupo {
        margin-right: 2.5em;
        input,
        textarea {
          padding: 0.6em;
          border: 0;
          border-radius: 1em;
          width: 100%;
        }
      }
      &__label {
        color: $verde;
        font-size: 1.1rem;
      }
      &__input,
      &__textarea {
        margin-top: 0.5em;
        font-size: 0.9rem;
      }
      &__boton {
        margin-top: 2.05em;
        font-size: 1rem;
        text-align: center;
        font-weight: 800;
        color: $azul;
        background-color: $verde;
        box-shadow: 0.1em 0.1em 0.25em #222;
        cursor: pointer;
      }
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .internetvista {
    .formulario {
      grid-template-columns: repeat(6, 2fr);
      padding: 3em 2em 3em 1em;

      &__form {
        grid-template-columns: repeat(1, 2fr);
        &__grupo {
          margin-top: 1.5em;
          margin-right: 0em;
        }
        &__boton {
          margin-top: 0.5em;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .internetvista {
    .formulario {
      padding: 3em 0em 3em 1em;

      &__form {
        grid-template-columns: repeat(2, 2fr);
        &__grupo {
          margin-right: 2.5em;
        }
        &__boton {
          margin-top: 2.05em;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .internetvista {
    .formulario {
      padding: 5em 0em 5em 2em;
      &__form {
        grid-template-columns: repeat(4, 2fr);
        &__grupo {
          margin-top: 0;
        }
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
