.internetvista {
	.hero {
		@include grid-structure($columns: 12);
		grid-area: hero;
		grid-template-areas: '. . . . . . internet internet internet internet internet internet';
		border-radius: 1em 1em 0 0;
		@include section-background($image: 'latinamericancable-vista-internet.jpg');

		& > div {
			@include grid-structure($columns: 8);
		}

		&__internet {
			height: 28em;
			align-content: center;
			grid-area: internet;
			grid-template-areas: '. box-internet box-internet box-internet box-internet box-internet box-internet .';
			box-sizing: border-box;

			&__box {
				@include hero-box($bg:'#FFF', $gridarea:'box-internet');				
			}
			&__icon {
				@include hero-box-icon(
					$image: 'latinamerican-pc-icon.svg',
					$fillColor: $azul,
					$width: 4em
				);
			}
			&__info {
				@include hero-box-icon-info();
			}
			&__title {
				grid-area: title;
				color: $azul;
			}
			&__text {
				@include hero-box-icon-info-text($fontsize: 1rem, $color: $azul-2, $lineheight: unset)
			}
		}
	}
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
	.internetvista {
		.hero {
			grid-template-columns: repeat(8, 2fr);
			grid-template-areas: 'internet internet internet internet internet internet internet internet';
			background-image: url('../../assets/images/latinamericancable-vista-internet-mob-por.jpg');

			&__internet {
				align-content: end;
				margin-bottom: 2em;
				&__box {
					padding: 0.75em 1.2em 0.75em 0.75em;
					min-height: 7em;
				}
				&__icon {
					width: 4.5em;
					height: 4.5em;
					background-size: 3em;
				}
				&__text {
					line-height: 1.2rem;
				}
			}
		}
	}
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
	.internetvista {
		.hero {
			grid-template-columns: repeat(6, 2fr);
			grid-template-areas: '. . internet internet internet internet';
			background-image: url('../../assets/images/latinamericancable-vista-internet-mob-lan.jpg');

			&__internet {
				align-content:center;
				margin-bottom:0;
				&__text {
					font-size: 0.8rem;
					line-height: 1rem;
				}
			}
		}
	}
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
	.internetvista {
		.hero {
			grid-template-areas: '. . . internet internet internet';
			background-image: url('../../assets/images/latinamericancable-vista-internet-tab-por.jpg');

			&__internet {
				&__box {
					padding: 1em 0 1em 0.75em;
				}
			}
		}
	}
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
	.internetvista {
		.hero {
			background-image: url('../../assets/images/latinamericancable-vista-internet-tab-lan.jpg');

			&__internet {
				&__box {
					padding: 1em;
				}
				&__icon {
					width: 6em;
					height: 6em;
					background-size: 4em;
				}
				&__text {
					font-size: 1rem;
					line-height: 1.3rem;
				}
			}
		}
	}
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
	.internetvista {
		.hero {
			grid-template-columns: repeat(12, 2fr);
			grid-template-areas: '. . . . . . internet internet internet internet internet internet';
			background-image: url('../../assets/images/latinamericancable-vista-internet.jpg');

			&__internet {
				&__text {
					padding-top: 0.25em;
				}
			}
		}
	}
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) --------------------------------*/
@include responsive(120em) {
}
