.internetvista {
  .hero {
    display: grid;
    grid-area: hero;
    grid-template-columns: repeat(12, 2fr);
    grid-template-rows: auto;
    grid-template-areas: '. . . . . . internet internet internet internet internet internet';
    border-radius: 1em 1em 0 0;
    @include section-background($image: 'latinamericancable-internet.jpg');

    & > div {
      display: grid;
      grid-template-columns: repeat(8, 2fr);
      grid-template-rows: auto;
      align-content: flex-end;
    }

    &__internet {
      height: 28em;
      grid-area: internet;
      grid-template-areas: '. box-internet box-internet box-internet box-internet box-internet box-internet .';
      box-sizing: border-box;

      &__box {
        display: grid;
        height: fit-content;
        grid-area: box-internet;
        grid-template-columns: repeat(4, 2fr);
        grid-template-rows: auto;
        grid-template-areas: 'icon info info info';
        border-radius: 1em;
        min-height: 8em;
        padding: 1em;
        margin-bottom: 8em;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0.1em 0.1em 0.25em #222;
      }
      &__icon {
        @include icon-int-box(
          $image: 'latam-icon-hero_pc.svg',
          $fillColor: $azul,
          $width: 4em
        );
      }
      &__info {
        @include icon-box-info();
      }
      &__title {
        grid-area: title;
        color: $azul;
      }
      &__text {
        font-size: 1rem;
        grid-area: text;
        color: $azul-2;
        margin-bottom: 0.3em;
      }
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .internetvista {
    .hero {
      grid-template-columns: repeat(8, 2fr);
      grid-template-areas: 'internet internet internet internet internet internet internet internet';

      &__internet {
        border-radius: 0 0 0 0;
        grid-template-areas: '. box-internet box-internet box-internet box-internet box-internet box-internet .';
        &__box {
          margin-bottom: 6em;
          padding: 0.75em 1.2em 0.75em 0.75em;
        }
        &__icon {
          width: 4.5em;
          height: 4.5em;
          background-size: 3em;
        }
        &__text {
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
  .internetvista {
    .hero {
      grid-template-columns: repeat(6, 2fr);
      grid-template-areas: '. . internet internet internet internet';

      &__internet {
        &__box {
          margin-bottom: 8.5em;
        }
        &__text {
          font-size: 0.8rem;
          line-height: 1rem;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .internetvista {
    .hero {
      grid-template-areas: '. . . internet internet internet';

      &__internet {
        &__box {
          padding: 1em 0 1em 0.75em;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .internetvista {
    .hero {
      &__internet {
        &__box {
          padding: 1em;
        }
        &__icon {
          width: 6em;
          height: 6em;
          background-size: 4em;
        }
        &__text {
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .internetvista {
    .hero {
      grid-template-columns: repeat(12, 2fr);
      grid-template-areas: '. . . . . . internet internet internet internet internet internet';
      &__internet {
        &__text {padding-top: 0.25em;}
      }
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) --------------------------------*/
@include responsive(120em) {
}
