.internetvista {
  .internet {
    display: grid;
    grid-area: plan-internet;
    grid-template-columns: repeat(12, 2fr);
    grid-template-rows: auto;
    padding: 3em 0;
    background-color: $verde;
    border-top: 6px solid #fff;

    &__texto {
      grid-column: 1 / 13;
    }
    &__planes {
      display: grid;
      grid-column: 1 / 13;
      margin-top: 0.5em;

      &__item {
        margin: 1.5em 1em;
        position: relative;
        background-color: #fff;
        border-radius: 1em;
        overflow: hidden;
        z-index: 0;

        &:nth-child(odd) {
          grid-column: 1 / 7;
          &::before {
            @include section-background-opacity(
              $image: 'latinamericancable-internet-corporativo-v2.jpg'
            );
            opacity:10;
          }
        }

        &:nth-child(even) {
          grid-column: 7 / 13;
          &:before {
            @include section-background-opacity(
              $image: 'latinamericancable-internet-residencial-v2.jpg'
            );
            opacity:10;
          }
        }
      }

      &__cabecera {
        padding: 1.5em;
        min-height: 7em;
        border-bottom: 5px solid $verde;
      }

      &__titulo {
        font-style: normal;
        color: $azul-3;
      }

      &__subtitulo {
        margin: 0 0 0.3em 0;
        font-style: normal;
        color: $azul;
      }

      &__texto {
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: $azul-2;
        margin-bottom: 0;
      }

      &__lista {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
      }

      &__velocidades {
        padding: 1.5em;
        &:nth-child(odd) {
          border-right: 5px solid $verde;
        }
        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 5px solid $verde;
        }
      }

      &__boton {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .internetvista {
    .internet {
      grid-template-columns: repeat(6, 2fr);
      padding:3em 1em;

      &__planes {
        &__item {
          margin: 1em 0;
          &:nth-child(odd),
          &:nth-child(even) {
            grid-column: 1/13;
          }
        }

        &__cabecera {
          padding: 1em;
          min-height: auto;
        }

        &__lista {
          grid-template-columns: repeat(1, 2fr);
        }

        &__velocidades {
          padding: 1em;
          &:nth-child(odd) {
            border-right: none;
          }
          &:nth-child(3) {
            border-bottom: 5px solid $verde;
          }
        }

        &__texto {
          font-size: 1rem;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
  .internetvista {
    .internet {
      &__planes {
        &__lista {
          grid-template-columns: repeat(2, 2fr);
        }

        &__velocidades {
          &:nth-child(odd) {
            border-right: 5px solid $verde;
          }
          &:nth-child(3) {
            border-bottom: none;
          }
        }
      }
    }
  }
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .internetvista {
    .internet {
      &__planes {
        &__item {
          margin: 1em 1em 0;
          &:nth-child(odd) {
            grid-column: 1/7;
          }

          &:nth-child(even) {
            grid-column: 7/13;
          }
        }
        &__cabecera {
          min-height: 10em;
        }

        &__texto {
          font-size: 1.1rem;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .internetvista {
    .internet {
      grid-template-columns: repeat(12, 2fr);
      &__planes {
        &__item {
          margin: 1.5em;
        }
        &__cabecera {
          min-height: 8.5em;
          padding: 1.5em;
        }
        &__velocidades {
          padding: 1.5em;
        }
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .internetvista {
    .internet {
      &__planes {
        &__cabecera {
          min-height: 7em;
        }
      }
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
