.canales {
  &__lista {
    display: grid;
    grid-column: 2 / 8;
    grid-template-columns: repeat(8, 2fr);
  }

  .vsa-list {
    grid-column: 1 / 9;
    border-radius: 1em 1em 1em 1em;
    overflow: hidden;
    margin-top: 0.75em;
    --vsa-max-width: 100%;
    --vsa-heading-padding: 0.2em 0.5em;
    --vsa-border-color: rgba(0, 0, 0, 0.2);
    --vsa-border-width: 1px;
    --vsa-border-style: solid;
    --vsa-highlight-color: #1b4686;
    --vsa-bg-color: rgba(255, 255, 255, 1);
    --vsa-text-color: #1b4686;
    --vsa-default-icon-size: 0.5;

    .vsa-item__content {
      background-color: rgba(128, 128, 128, 0.15);
    }
  }

  &__categoria {
    display: grid;
    grid-template-columns: repeat(4, 2fr);

    &__item {
      display: grid;
      justify-content: space-evenly;
      padding: 0.5em;
    }

    &__imagen {
      max-width: 3.5em;
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}