.inicio {
	.pago {
		height: 16em;
		@include grid-structure($columns: 12);
		grid-area: pago;
		grid-template-areas: '. . . . icon icon icon icon . . . .' '. . . . boton boton boton boton . . . .';
		align-content: space-around;
		padding: 1.5em 0 1.5em;
		position: relative;

		&::before {
			content: '';
			background-image: url('../../assets/images/latinamericancable-pago.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.5;
			z-index: -1;
			border-radius: 0 0 1em 1em;
			border: 6px;
			border-style: solid none none none;
			border-color: white;
			box-sizing: border-box;
		}

		&__icon {
			display: grid;
			grid-area: icon;
			justify-content: center;

			&__imagen {
				width: 7em;
			}
		}

		&__boton {
			font-size: 1.2rem;
			grid-area: boton;
			padding: 0.75em;
			@include boton-a($color: $azul, $bg: $verde);
		}
	}
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
	.inicio {
		.pago {
			grid-template-columns: repeat(6, 2fr);
			grid-template-areas: '. icon icon icon icon .' '. boton boton boton boton .';

			&__boton {
				font-size: 1rem;
			}
		}
	}
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
	.inicio {
		.pago {
			grid-template-columns: repeat(12, 2fr);
			grid-template-areas: '. . . . icon icon icon icon . . . .' '. . . . boton boton boton boton . . . .';

			&__boton {
				font-size: 1.2rem;
			}
		}
	}
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
