.tv {
  display: grid;
  grid-area: plan-tv;
  grid-column: 7 / 13;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: auto;

  &__banner {
    padding: 2.5em 3em 3em;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 9;
    grid-row: 2 / 5;
    border-radius: 1em;
    justify-content: space-around;
    align-content: center;
    @include section-background($image: 'latinamericancable-tv-plan.jpg');

    &__titulo {
      text-align: center;
      color: white;
    }

    &__texto {
      text-align: center;
      color: white;
      margin-bottom: 1em;
    }

    &__boton {
      font-size: 1.2rem;
      margin: 0 3em;
      padding: 0.75em;
      @include boton-a($color: $azul, $bg: $verde);
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .tv {
    &__banner {
      padding: 1.5em 2em 2em;
  
      &__titulo {
        line-height: 2rem;
      }
  
      &__texto {
        margin-bottom: 1em;
      }
  
      &__boton {
        font-size: 1.4rem;
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .tv {
    &__banner {
      padding: 2.5em 3em 3em;
      &__boton {
        font-size: 1.2rem;
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}