.tv {
  height: 15em;
  display: grid;
  grid-area: plan-tv;
  grid-template-columns: repeat(12, 2fr);
  grid-template-rows: auto;
  grid-template-areas:
    '. . . titulo titulo titulo titulo titulo titulo  . . .'
    '. . . texto texto texto texto texto texto . . .'
    '. . . . . tv-boton tv-boton . . . . .';
  @include section-background($image: 'latinamericancable-tv-plan.jpg');
  border-radius: 1em;
  align-content: center;

  &__left {
    grid-area: titulo;
  }

  &__right {
    grid-area: texto;
  }

  &__titulo {
    font-size: 1.7rem;
    line-height: 1.9rem;
    text-align: center;
    color: white;
  }

  &__texto {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    color: white;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
  }

  &__boton {
    grid-area: tv-boton;
    @include boton();
  }
}
