.tv {
  display: grid;
  grid-area: plan-tv;
  grid-column: 7 / 13;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: auto;

  &__banner {
    padding: 1.5em 0 3em;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 8;
    grid-row: 2 / 5;
    border-radius: 1em;
    justify-content: space-around;
    align-content: center;
   
    
    /* @include section-background($image: 'latinamericancable-tv-plan.jpg'); */
    background-color: $azul;

    &__titulo {
      font-size: 1.7rem;
      line-height: 1.9rem;
      text-align: center;
      color: white;
    }

    &__texto {
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-align: center;
      color: white;
      padding-left: 0.5em;
      margin-bottom: 1.5em;
    }

    &__boton {
      margin:0 5em;
      @include boton();
    }
  }
}
