.inicio {
  .internet {
    @include grid-structure($columns: 12);
    grid-area: plan-internet;
    margin: 1.5em 1em 3em;

    &__titulo {
      grid-column: 1 / 13;
      @include heading-before-content($color: $azul, $image: 'punto.svg');
    }
    &__texto {
      grid-column: 1 / 13;
    }

    &__banner {
      margin: 1.5em 1.5em 1em;
      padding: 2.5em 4em 3em;
      display: flex;
      flex-direction: column;
      grid-column: 1 / 13;
      border-radius: 1em;
      justify-content: space-around;
      align-content: center;
      position: relative;
      &::before {
        content: '';
        @include section-background(
          $image: 'latinamericancable-internet-banner.jpg'
        );
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.3;
        z-index: -1;
        border-radius: 1em;
        box-sizing: border-box;
      }

      &__titulo {
        text-align: center;
        color: $azul;
        line-height: 2rem;
      }

      &__texto {
        text-align: center;
        color: $azul;
        margin-bottom: 1em;
      }

      &__boton {
        margin: 0 auto;
        padding: 0.5em 3em;
        font-size: 1.2rem;
        @include boton-a($color: $azul, $bg: $verde);
      }
    }

    &__planes {
      display: grid;
      grid-column: 1 / 13;
      margin-top: 0.5em;

      &__item {
        @include item-radius;

        &:nth-child(odd) {
          grid-column: 1 / 7;
          &::before {
            @include section-background-opacity(
              $image: 'latinamericancable-internet-corporativo.jpg'
            );
          }
        }

        &:nth-child(even) {
          grid-column: 7 / 13;
          &:before {
            @include section-background-opacity(
              $image: 'latinamericancable-internet-residencial.jpg'
            );
          }
        }
      }

      &__titulo {
        @include item-radius-titulo;
      }

      &__texto {
        @include item-radius-texto;
      }

      &__velocidades {
        display: flex;
        margin: 1.5em 0 2.2em;        
      }

      &__boton {
        font-size: 1rem;
        padding: 0.5em;
        margin-right: 1em;
        @include boton-a($color: $verde, $bg: $azul-2);
      }

      &__suscripcion {
        font-size: 1rem;
        padding: 0.4em 1.3em 0.6em;
        @include boton-a($color: white, $bg: $azul);
        cursor: pointer;
      }
    }
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .inicio {
    .internet {
      grid-template-columns: repeat(6, 2fr);

      &__banner {
        margin: 1em 0;
        padding: 2em;
        grid-column: 1/9;
        &::before {
          background-image: url('../../assets/images/latinamericancable-internet-banner-mob-por.jpg');
        }

        &__titulo {
          line-height: 1.8rem;
        }

        &__boton {
          font-size: 1rem;
        }
      }

      &__planes {
        &__item {
          margin: 0.5em 0;
          padding: 1em 1em 2em;
          &:nth-child(odd),
          &:nth-child(even) {
            grid-column: 1/13;
          }
          &:nth-child(odd) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-corporativo-mob-por.jpg');
            }
          }
          &:nth-child(even) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-residencial-mob-por.jpg');
            }
          }
        }

        &__texto {
          font-size: 1rem;
        }

        &__boton {
          font-size: 0.9rem;
          padding: 0.5em;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
  .inicio {
    .internet {
      &__banner {
        &::before {
          background-image: url('../../assets/images/latinamericancable-internet-banner-mob-lan.jpg');
        }
      }

      &__planes {
        &__item {
          &:nth-child(odd) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-corporativo-mob-lan.jpg');
            }
          }
          &:nth-child(even) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-residencial-mob-lan.jpg');
            }
          }
        }
      }
    }
  }
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .inicio {
    .internet {
      &__banner {
        margin: 1em;
        &::before {
          background-image: url('../../assets/images/latinamericancable-internet-banner-tab-por.jpg');
        }
        &__boton {
          font-size: 1.2rem;
          padding: 0.5em 3em;
        }
      }

      &__planes {
        &__item {
          margin: 1em 1em 0;
          padding: 1em 1em 2em;
          &:nth-child(odd) {
            grid-column: 1/7;
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-corporativo-tab-por.jpg');
            }
          }

          &:nth-child(even) {
            grid-column: 7/13;
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-residencial-tab-por.jpg');
            }
          }
        }
        &__texto {
          font-size: 1.1rem;
        }

        &__boton {
          font-size: 1rem;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .inicio {
    .internet {
      grid-template-columns: repeat(12, 2fr);

      &__banner {
        margin: 1.5em 1.5em 1em;
        padding: 2.5em 4em 3em;
        grid-column: 1 / 13;
        &::before {
          background-image: url('../../assets/images/latinamericancable-internet-banner-tab-lan.jpg');
        }
      }

      &__planes {
        &__item {
          margin: 1.5em;
          padding: 1.5em 1.5em 2em;
          &:nth-child(odd) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-corporativo-tab-lan.jpg');
            }
          }

          &:nth-child(even) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-residencial-tab-lan.jpg');
            }
          }
        }

        &__boton {
          padding: 0.5em;
        }
      }
    }
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .inicio {
    .internet {
      &__banner {
        &::before {
          background-image: url('../../assets/images/latinamericancable-internet-banner.jpg');
        }
      }

      &__planes {
        &__item {
          &:nth-child(odd) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-corporativo.jpg');
            }
          }

          &:nth-child(even) {
            &::before {
              background-image: url('../../assets/images/latinamericancable-internet-residencial.jpg');
            }
          }
        }

        &__boton {
          padding: 0.5em;
        }
      }
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
