body {
  font-family: 'Sarabun', 'Trebuchet MS', sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}

p {
  font-size: 1.3rem;
  color: $gris;
  margin: 0 0 0.5em 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin: 0 0 0.3em 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  margin: 0 0 0.5em 0;
}

h4 {
  font-size: 1.4rem;
  margin: 0;
}

h5 {
  font-size: 1.2rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: italic;
}

.layout {
  width: 75em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header header header header header header header header header'
    'main main main main main main main main main main main main'
    'footer footer footer footer footer footer footer footer footer footer footer footer ';
}

.principal {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(12, 2fr);
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .layout {
    width: 100%;
    grid-template-columns: repeat(6, 2fr);
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  body {
    line-height: 1.9rem;
  }

  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.3rem;
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  body {
    line-height: 1.5rem;
  }

  .layout {
    width: auto;
  }

  p {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .layout {
    width: 75em;
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
