.header {
  display: grid;
  grid-area: header;
  align-items: center;
  height: 9.5em;
  grid-template-columns: repeat(12, 2fr);
  grid-template-areas: 'logo logo . nav nav nav nav nav nav nav nav nav';

  &__logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
    img {
      width: 11.5em;
    }
  }

  &__nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(6, 2fr);
    .active--exact {
      border: 2px;
      border-style: solid none solid none;
      border-color: $verde;
      box-sizing: border-box;
      margin-top: -2px;
      padding: 0.15em 0;
    }
  }

  &__link {
    width: fit-content;
    height: fit-content;
    font-weight: 800;
    color: $azul;
    border: 2px;
    text-decoration: none;
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  .header {
    /*  height: 9.5em; */
    grid-template-columns: repeat(6, 2fr);
    grid-template-areas: 'logo logo nav nav nav nav';

    &__nav {
      grid-template-columns: repeat(4, 2fr);
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
  .header {
    /*  height: 11.5em;
    margin: 0 0 0 3em;
    &__logo {
      img {
        width: 14em;
      }
    }

    &__nav {
      grid-template-columns: repeat(4, 2fr);
    }

    &__link {
      font-size: 1.4rem;
    } */
  }
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
  .header {
    /* height: 9.5em;
    &__logo {
      img {
        width: 11.5em;
      }
    }

    &__nav {
      grid-template-columns: repeat(6, 2fr);
    }

    &__link {
      font-size: 1rem;
    } */
  }
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
  .header {
    margin: 0;

    &__link {
      width: fit-content;
      height: fit-content;
      font-weight: 800;
      color: $azul;
      border: 2px;
      text-decoration: none;
    }
  }
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
